.content {
	width: 700px;
	margin: auto;
}

.thick {
  border-top: 5px solid #000;
    	margin: 30px 0px 50px 0px;
}
.thickbottom {
  border-top: 5px solid #000;
    	margin: 50px 0px 10px 0px;
}
.thin {
	border-top: 1px solid #000;
	  	margin: 30px 0px 30px 0px;
}
.thinbottom {
	border-top: 1px solid #000;
	margin: 30px 0 30px 0px;
	width: 450px;
}
nav {
	text-align: center;
		font-family: Arial, sans-serif;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
}
h4 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
a {
	text-align: center;
	font-family: Arial, sans-serif;
	color: black;
	font-weight: 600;
	text-decoration: underline;

}
p {
	font-family: Georgia, serif;
	font-size: 1em;
	line-height: 1.5em;
}
footer {
	text-align: center;
}
img {
  float: right;
  padding-left: 15px;
}