body {
	width: 700px;
}
hr {

}
.thick {
  border-top: 5px solid #000;
  	margin: 10px 0px 10px 0px;
}
.thin {
	border-top: 1px solid #000;
}
nav {
	text-align: center;
}
h1 {
	text-align: center;
}
a {
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: black;
	font-weight: 600;
	text-decoration: underline;

}
p {
	font-family: Georgia, serif;
	font-size: 1em;
}
footer {
	text-align: center;
}
img {
	align: right;
}